script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js')
script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js')
script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js')
script(src='/javascript/bank.js')

script(src='https://github.com/addyosmani/jquery-ui-bootstrap/raw/master/js/jquery-ui-1.8.16.custom.min.js')
link(rel='stylesheet', type='text/css', href='http://addyosmani.github.com/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css')

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .nav-collapse
        a.brand(href='/') BankSim
        ul.nav
          li.divider-vertical
          li.active
            a(href='/') Home
          li(pull-right='')
            a(href='/logout') Logout


header.jumbotron.masthead

  .container#home
    .row-fluid
      .span12
        .span2
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Profile
              li 
                b Name: 
                | #{user.name}
              li 
                b email: 
                | #{user.email}
              li
                b Current Balance: 
                | $#{user.accounts[0].balance}


        .span8
          .well#mainWell.sidebar-nav
            ul#Tab.nav.nav-tabs(data-tabs='tabs')
              li.active
                a(href='#summary', data-toggle='tab') Summary
              li
                a(href='#deposit', data-toggle='tab') Deposit
            #my-tab-content.tab-content
              #summary.tab-pane.fade
                .page-header
                  h1 Latest Transactions you did
                if transactions
                  table.table
                      thead
                          tr
                            th Transaction
                            th Date
                        tbody
                        each item in transactions
                          tr
                            th $#{item.amount} 
                            th #{item.date}
                else
                    p You Haven't done any transaction lately
              #deposit.tab-pane.fade.in.active
                .page-header
                  h1 Create a new Deposit
                if message== "Success" 
                  .alert.alert-success
                    | Success!
                if message== "Failed" 
                  .alert.alert-error
                    | Failed to add amount
                .row-fluid
                  .span6 
                    form#login.form-horizontal(method='post', action='/deposit')
                      .row-fluid
                        .span5 
                          label Specify the Value to Deposit
                        .span1 
                          input#amount(name='amount', type='text', style='border: 0, solid; color: #f6931f; font-weight: bold;')
                      br
                      .row-fluid
                        .span7 
                          #slider-vertical
                        .span5 
                          input#deposit.btn.btn-primary(type='submit', value='Submit') 


