script(src='http://twitter.github.com/bootstrap/assets/js/jquery.js') 
script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js')
script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js')
script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js')
script(type='text/javascript', src='http://jzaefferer.github.com/jquery-validation/jquery.validate.js')
script(type='text/javascript', src='/javascript/validate.js')
.container
  if message== "Failed" 
    .alert.alert-error
      | Wrong username or Password
      a.btn.btn-primary(href='/register') Register
.container
  .content
    form#login.form-horizontal(method='post', action='/login')
      fieldset
        legend Login
        .control-group
          label.control-label() Username
          .controls
            input#username.input-xlarge(
              type='text'
              name='username'
              rel='popover'
              data-content='Enter your username.'
              data-original-title='Full Name') |
        .control-group
          label.control-label() Password
          .controls
            input.input-xlarge(type='password', name='password') |
        .control-group
          label.control-label()
          .controls
            button#password.btn.btn-success(rel='tooltip', title='first tooltip') Login
            | - or -
            a.btn.btn-primary(href='/register') Sign-up
